
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Item Name</th>
      <th scope="col">Unit</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  
  <tbody >
    <tr *ngFor="let item of items" (click)="takeAction(item, $event)">
      <th scope="row">
        <input type="text" [value]="valor" #campoInput>
      </th>
      <td>{{item.name}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.dateFormat()}}</td>
      <td><button id="purchase" class="btn btn-success">Purchase</button></td>
      
      <td><button id="delete"  class="btn btn-danger"><i class="fa fa-trash-o prevent-click"></i></button></td>
    </tr>
  </tbody>
</table>

<price-popup #pricePopup></price-popup>