<ng-template #content  let-delete="close" let-finalize="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">How much?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <label for="item-name">
        Item name: <b><ng-content></ng-content></b>
      </label>
      <!-- TODO: Hardcoded values!!!! -->
      <like [likesCount]="12" [isActive]="false" (change)="onLikeChanged($event)"></like>
      <br>
    
    <label for="value">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">R$</span>
          </div>
          <input (keyup.enter)="finalize('finalize')" class="form-control" name="value" type="number" [(ngModel)]="value">
        </div>
    </label>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="finalize('finalize')">Finalize</button>
    <button type="button" class="btn btn-danger" (click)="delete('delete')"><i class="fa fa-trash-o prevent-click"></i></button>
  </div>
</ng-template>

<button id="purchase" *ngIf="!(item.state == 'Purchased'), else purchased" 
  [disabled]="item.state == 'Purchased'"  class="btn btn-success" 
  (click)="open(content)">Purchase</button>

<ng-template #purchased>
  <button id="purchase" class="btn btn-warning" (click)="open(content)">Edit</button>
</ng-template>