<ng-template #content let-finalize="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="value">
        <input class="form-control" name="value" type="number" [(ngModel)]="value">
    </label>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="finalize('Finalize Button')">Finalize</button>
  </div>
</ng-template>

<button id="purchase" class="btn btn-success" (click)="open(content)">Purchase</button>