<div class="container">
  <h3>Login</h3>
  <hr>
  <form action="">
    <label for="username">Username</label>
    <input placeholder="Type the username..." type="text" class="form-control" name="username">
    <br>
    <label for="password">Password</label>
    <input placeholder="Type the password..." type="password" class="form-control" name="password">
    <p>
      <br>
      <a href="#" class="small">Did you forget the password?</a>
      <br>
      <a routerLink="/signup" class="small">Create a new Account</a>
    </p>
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>
</div>