.like {
    color: #ccc;
    font-size: 35px;
}

.like:hover{
    cursor: pointer;
}

.isActive {
    color: deeppink;
}

.container {
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: fit-content;
}
