
<label for="exampleInputEmail1">Item</label>
<div class="input-group mb-3">
  <input #cItem type="text" (keyup.enter)="insertItem(cItem.value)"  [(ngModel)]="itemName" (input)="itemName = $event.target.value" class="form-control" placeholder="Enter the item..." aria-label="Enter the item..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button (click)="insertItem()" class="btn btn-primary" type="button">Add</button>
  </div>
</div>
<form action="">

  <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
    <label class="btn btn-primary" [class.active]="unit == 'Kilogram'" (click)="unit = 'Kilogram'">
      <input type="radio" name="options" id="option1" autocomplete="off"> Kg
    </label>
    <label class="btn btn-primary"  [class.active]="unit == 'Litre'" (click)="unit = 'Litre'" >
      <input type="radio"name="options" id="option2" autocomplete="off"> Lt
    </label>
    <label class="btn btn-primary"  [class.active]="unit == 'Package'" (click)="unit = 'Package'" >
      <input type="radio" name="options" id="option3" autocomplete="off"> Pack
    </label>
  </div>

</form>
<hr>

